div {
	background-color: yellow;
}
h1 {font-family: 'Nothing You Could Do', cursive;
}
TH {font-size: 200%;
}
table {
	background-color: #EBC98E;
}
header {
	color: red;
}
footer {
	color: red;
}
input {
	font-weight: bold;
}
