h2, h3 {font-family: 'Gloria Hallelujah', cursive;
}

li {
    background-color: lightblue;
}

TH {
	color: blue;
}

h3 {
	font-style: italic;
	color: white;
}

td {
	font-style: italic;
	background-color: silver;
}